<div class="container-fluid p-0 m-0 w-100">
<div id="jumboSwipeBlock" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner swipeImage">
 {% assign count2 = 0 %}{% for image in site.static_files %}{% if image.path contains 'assets/images/swipePhotos' %}
    <div class="carousel-item{% if count2==0 %} active{% endif %}" style="background-image: url('{{ site.url }}/{{ image.basename | prepend: 'assets/images/swipePhotos/' | append: image.extname }}')">
        <div class="carousel-caption d-none d-md-block">
            <div class="arrow bounce"><!----></div>
        </div>
    </div>{% assign count2 = count2 | plus: 1 %}{% endif %}{% endfor %}
  </div>
  <div class="carousel-indicators">
  {% assign count = 0 %}{% for image in site.static_files %}{% if image.path contains 'assets/images/swipePhotos' %}
  <button type="button" data-bs-target="#jumboSwipeBlock" data-bs-slide-to="{{ count }}" {% if count==0 %} class="active" aria-current="true"{% endif %} aria-label="Slide {{ count }}"></button>
  {% assign count = count | plus: 1 %}{% endif %}{% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#jumboSwipeBlock" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#jumboSwipeBlock" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="current_status">{{ site.relationship-status }}</div>
</div>
</div>
