
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
}


#jumboSwipeBlock, #jumboSwipeBlock .carsouel-inner, #jumboSwipeBlock .carousel-item {
    min-height: 100vh !important;
    height: 100vh !important;
    width: 100% !important;
}

#jumboSwipeBlock .swipeImage .carousel-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: content-box !important;
}

#jumboSwipeBlock .carousel-indicators {
    bottom: unset;
}

.myAge { font-weight: 300; }

.tab-content {
    border-color: #dee2e6;
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-style: outset;
    border-top: 0px;
    padding: 5px;
}

#nav-tabContent h3 { font-size: 1em; }
#nav-tabContent h4 { font-size: 1em; color: #ccc; }

.svg24 {
    width: 24px;
    height: 24px;
}

.phoneHint { font-size: 1em; display: none; padding-bottom: 5px; color: red; }

@media (max-width: 510px) {
    .nav {
        flex-wrap: unset;
    }
    .phoneHint { display: block; }
}
